body{
    background-color: white;
}
/* .page{
    display: inline-flex;
} */
.navbar{

    margin: 0px;
    border-color: tomato;
    border: 5px;
    position: absolute;
    padding: 0px;
    display: flex;
    width: 1440px;
    height: 118px;
    left: 0px;
    top: 0px;
    background-color:#FFFFFF;
}
.logo-bar{
    border: 0px;
    display: inline-flex;
    padding: 0px;
    margin: 17px 200px 0px 28px;
    background-color: white;
    height: 83px;
    width: 350px;
    
}
.logo{
    background-image: url(images/CEC_logo\ \(Redirects\ to\ home\).png);
    height: 83px;
    width: 83px;
    margin-right: 0px;
    position: absolute;
    margin-right: 13px;
}
.logo-name{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    float: left;
    margin-left: 124px;
    margin-top: 12px;
    margin-right: 0px;
    height: 89px;

}
.pageList{
    display: inline-flex;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #BDBBBC;
    
}
.pageList :active{
    color: black;
}
.pageList dl{
    margin: 22px;
}
.slider{
    top: 118px;
    position: relative;
    margin: auto;
    
}
#slide{
    display: block;
    height: 872px;
    /* background-image: url(images/architecture-building-business-construction-236698\ 1.png); */
    width: 1440px;
    background-color: rgba(35, 43, 114, 0.5);
    background-blend-mode: luminosity;
}
#slide-text-block{
    position: absolute;
    margin: 0px;
    top: 183px;
    right: 993px;
    left: 109px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

#slide-title{
    position: absolute;
    top: 460px;
    right: 138px;
    left: 109px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: rgba(255, 255, 255, 0.87);
}
#slide-content{
    left: 109px;
    top: 552px;
    right: 264px;
    position: absolute;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;

    color: rgba(255, 255, 255, 0.8);
}
.thumbs{
    position: absolute;
    top: 88%;
    left: 42%;
    right: 42%;
    bottom: 9.5%;
    height: 10px;
    display: inline-block;
}
#slider-click{
    display: inline-block;
    margin: 8px;
    width: 30px;
    height: 5px;
    background: rgba(189, 187, 188, 0.6);
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
#slider-click:hover{
    background: rgba(255, 255, 255, 0.6);
}

