body{
    background-color: white;
}
/* .page{
    display: inline-flex;
} */
header {
    margin: 0px;
    border-color: tomato;
    border: 5px;
    position: absolute;
    padding: 0px;
    display: flex;
    width: 1440px;
    height: 118px;
    left: 0px;
    top: 0px;
    background-color:#FFFFFF;
}
header .container{
height: 118px;
}
#main-content .container{
    margin: 0px;
    width: 100%;
    padding: 0px;
}
/** HEADER **/
#header-nav {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 0;
  height: 118px;
}

#logo-img {
  background: url('/images/CEC_logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Name beside the logo */
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 29px;
    position: relative;
    float: left;
    margin-left: 105px;
    margin-top: 12px;
    margin-right: 0px;
    height: 89px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #BDBBBC;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*.navbar{

    margin: 0px;
    border-color: tomato;
    border: 5px;
    position: absolute;
    padding: 0px;
    display: flex;
    width: 1440px;
    height: 118px;
    left: 0px;
    top: 0px;
    background-color:#FFFFFF;
}
.logo-bar{
    border: 0px;
    display: inline-flex;
    padding: 0px;
    margin: 17px 200px 0px 28px;
    background-color: white;
    height: 83px;
    
}
.logo{
    background: url(images/CEC_logo.png);
    height: 83px;
    width: 83px;
    margin-right: 0px;
    position: absolute;
    margin-right: 13px;
}
.logo-name{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    float: left;
    margin-left: 105px;
    margin-top: 12px;
    margin-right: 0px;
    height: 89px;

}
.pageList{
    display: inline-flex;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #BDBBBC;
    
}
.pageList :active{
    color: black;
}
.pageList dl{
    margin: 22px;
}*/
.slider{
    top: 118px;
    position: relative;
    margin: auto;
}
#slide{
    display: block;
    height: 872px;
    background: url(images/samuel-oakes-Fr_XUMvQ9AU-unsplash\ 1.png);
    width: 1440px;
}
#slide-text-block{
    position: absolute;
    margin: 0px;
    top: 183px;
    right: 993px;
    left: 109px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

#slide-title{
    position: absolute;
    top: 460px;
    right: 138px;
    left: 109px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: rgba(255, 255, 255, 0.87);
}
#slide-content{
    left: 109px;
    top: 552px;
    right: 264px;
    position: absolute;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;

    color: rgba(255, 255, 255, 0.8);
}
